.grid_container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "stats character";
}

input[type=text]{
  width:100px;
  height:100px;
  font-size:75px;
  box-sizing:border-box;
  padding:5px;
  border:5px solid;
  border-radius:10px;
}

table{
  border-spacing:25px;
}

.profs{
  vertical-align:top;
  width:200px;
}

#stat_table {
  grid-area: stats;
}

#char_attributes {
  grid-area: character;
}

#char_name{
  width:300px;
  height:30px;
  border-radius:0px;
  box-sizing:border-box;
  border: 1px solid;
  font-size: 14px;
  padding:5px;
}

#create {
  cursor:pointer;
  position:relative;
  left:405px;
}

body {
  background-color: ivory;
}

.stat_name {
  font-size:25px;
  text-align:right;
}

#stat_roll_display{
  font-size:25px
}

#img {
  position: relative;
  top:40px;
  left:25px;
}

.level {
  position: relative;
  right: 132px;
}

a {
  text-decoration: none;
}

main {
  margin-top: 3%;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

#title {
  flex:0 0 30%;
  text-align: center;
}

#navigation {
  flex:0 0 50%;
  padding-right: 5%;
}

#navigation nav {
  display: flex;
  justify-content: space-between;
}

